.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
  color: #555;
  background-color: #e7e7e7;
}

.app-title {
    cursor: pointer;
    padding-right: 3.3rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 21px;
}

.app-logo {
    height: 69px;
    width: auto;
    padding: 12px;
}
