%clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

body {
  background-color: #f5f5f5 !important;
}

.desktop-width {
  margin-left: 256px;
}

.dashboard-btn > button {
  min-width: 420px !important;
  min-height: 300px !important;
  > div > div {
    min-width: 420px !important;
    min-height: 300px !important;
    > span {
      margin: 30%;
    }
  }
}

